* {
    font-family: poppins,montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    list-style: none;
    text-decoration: none;   
}

body {
    width: 100%;
    height: 100vh;
    background-position: top;
    background-image: url(assets/bg.png);
    background-size: cover;
}

/*--------header-------*/
.container{
    width: 50vh;
    text-align: center;
    margin: 4.5rem auto;
}

.logo{
    padding: 5vh 0 2vh;
    width: 30%;
}

header h2 img{
    width: 2vh;
}

/*--------main ret fundo-------*/
main{
    margin-top: 6rem;
}
ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color:rgb(0,0,0);
    
    /*efeito de vidro*/
    background: rgba( 0, 0, 0, 0.01 );
    box-shadow: 0 8px 32px 0 rgba(94, 12, 12, 0.2);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;

    margin: 2.5vh 30px 0;
    border-radius: 30px;
    border: 1px solid #fff;

    gap: 6px;
}

ul li a{
    padding: 1.6vh 0;
    font-size: 2.5vh;
    font-weight: bold;
}

li a img{
    margin: 5px 0.8vh 0 0;
    height: 4vh; 
}

/*---------animacao ret-----------*/

ul li a:hover {
    transition: background ease-in-out 0.5s;
    background-color: black;
    transition: font-size linear 0.2s;
    font-size: 2.6vh;
    border: 1px solid rgb(255,0,0, 0.2);
}

/*--------footer-------*/
footer{
    margin: 10rem 0 0 0;
    width: 100%;
    text-align: center;
}
footer h3{
    font-size: 2vh;
    text-shadow: 2px 4px 3.5px rgb(0,0,0,0.5);
}

footer img{
    width: 1vh;
}

.linkinsta{
    margin: 100px 0 0 0;
}
p .linkinsta p{
    font-size: 1px;
}
.meuinsta{
    text-decoration: underline;
}